.mainpro {
    padding: 80px 0;
    display: flex;
}
.mainpro > div {
    width: 50%;
}
.mainpro > div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mainpro .text {
    padding: 60px 40px;
    position: relative;
}
.mainpro .text div::before {
    content: "";
    display: block;
    position: absolute;
    width: 30%;
    height: 5px;
    left: 0;
    top: 150px;
    background-color: #222;
}
.mainpro .text h3 {
    font-size: 24px;
}
.mainpro .text p {
    padding-bottom: 30px;
}
.mainpro .text div {
    padding: 30px 0;
}
